<div class = "iniciar-sesion">
    <form class="form">
        <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput 
                placeholder="Ex. javier@gmail.com">
        </mat-form-field>
    </form>
    <form class="form">
        <mat-form-field class="example-full-width">
        <mat-label>contraseña</mat-label>
        <input type="password" matInput 
                placeholder="********">
        </mat-form-field>
    </form>
    <div class = "botones">
        <div class = "boton-Inicio">
            <button mat-raised-button color="warn">Iniciar Sesion</button>
        </div>
        <div class = "boton-registrar">
            <button mat-raised-button color="warn">¡¡¡Registrate!!!</button>
        </div>
    </div>  
</div>